.sticky-actions {
    position: sticky !important;
    left: 0 !important;
    z-index: 2;
    background-color: #fff;
}
th.sticky-actions {
    z-index: 3;
}
.table-hover tbody tr:hover .sticky-actions {
    background-color: #f6f6f6;
}
.dark-layout .sticky-actions,
.dark-layout th.sticky-actions {
    background-color: #283046 !important;
}
.dark-layout .table-hover tbody tr:hover .sticky-actions {
    background-color: #343d55 !important;
}
