.input-group:not(.has-validation)> :not(:last-child):not(.dropdown-toggle):not(.dropdown-menu):not(.form-floating),
.input-group:not(.has-validation)>.dropdown-toggle:nth-last-child(n+3),
.input-group:not(.has-validation)>.form-floating:not(:last-child)>.form-control,
.input-group:not(.has-validation)>.form-floating:not(:last-child)>.typeahead,
.input-group:not(.has-validation)>.form-floating:not(:last-child)>.tt-query,
.input-group:not(.has-validation)>.form-floating:not(:last-child)>.tt-hint,
.select2-container--default .select2-selection--single
.input-group:not(.has-validation)>.form-floating:not(:last-child)>.select2-search__field,
.select2-container--default
.input-group:not(.has-validation)>.form-floating:not(:last-child)>.select2-selection--single,
.input-group:not(.has-validation)>.form-floating:not(:last-child)>.form-select {
border-top-left-radius: 0;
border-bottom-left-radius: 0;
border-top-right-radius: 5px;
border-bottom-right-radius: 5px;
}



.breadcrumb-item + .breadcrumb-item::before {
    float: right;
    padding-right: var(--bs-breadcrumb-item-padding-x);
    color: var(--bs-breadcrumb-divider-color);
    content: var(--bs-breadcrumb-divider, "/") /* rtl: var(--bs-breadcrumb-divider, "/") */;
}


.fl-flasher .fl-close {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    align-items: center;
    background-color: transparent;
    border: none;
    color: #a8aaab;
    cursor: pointer;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -moz-inline-box;
    display: inline-flex;
    font-size: 25px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    justify-content: center;
    line-height: 0;
    margin: -.5rem;
    padding: .5rem;
    position: absolute;
    left: -20rem;
    top: 1rem;
    -webkit-transition: color .3s
    ease, -webkit-transform .3s
    ease;
    transition: color .3s
    ease, -webkit-transform .3s
    ease;
    -moz-transition: color .3s ease,transform .3s ease,-moz-transform .3s ease;
    transition: color .3s
    ease, transform .3s
    ease;
    transition: color .3s
    ease, transform .3s
    ease, -webkit-transform .3s
    ease, -moz-transform .3s
    ease;
}
